@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Book-Store</h1>
    <p><h3>Your Search for Books ends here</h3></p>
</div>
